body {
    margin: 0;
    background-color: black;
}

/* NAVBAR */

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 75%;
    margin: auto;
    padding-top: 10px;
}

.logo {
    display: flex;
    align-items: center;
    width: 20%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.KS_logo {
    width: 50px;
    margin-right: 10px;
}

.first_name {
    color: white;
    margin-right: 5px;
}

.last_name {
    color: red;
}

nav ul {
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 30px;
}

nav a {
    color: grey;
    text-decoration: none;
    font-size: 16px;
    padding-bottom: 5px;
}

nav a:hover {
    color: white;
    border-bottom: 3px solid red;
}

.project_button {
    color: white;
    background-color: red;
    padding: 10px;
    border-radius: 10px;
}

.project_button a {
    text-decoration: none;
    font-size: 16px;
    color: white;
}

/* HOMEPAGE */
/* HERO SECTION */

.hero-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    color: white;
}

.opp {
    display: flex;
    align-items: center;
    background-color: rgb(34, 34, 34);
    color: grey;
    border-radius: 50px;
    padding: 0px 20px 0px 20px;
    font-size: 12px;
    letter-spacing: 2px;
    border: 1px solid rgba(255, 255, 255, 0.075);
}

.fa-circle {
    color: green;
    margin-right: 10px;
    font-size: 8px;
}

.hero_title {
    color: white;
    font-size: 80px;
    letter-spacing: 2px;
    margin: 20px 0px 20px 0px;
}

.h1s {
    color: red;
}

.hero_subtitle {
    color: grey;
    font-size: 30px;
    letter-spacing: 2px;
    text-align: center;
    margin: 0px 0px 20px 0px;
}

.hss {
    color: rgb(212, 211, 211);
}

.hero_buttons {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.project_hero_button {
    background-color: red;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    font-size: 20px;
}

.project_hero_button a {
    color: white;
}

.hero-section a {
    text-decoration: none;
}

.contact_hero_button {
    background-color: transparent;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    font-size: 20px;
    border: 2px solid red;
}

.contact_hero_button a {
    color: red;
}

.contact_hero_button:hover {
    background-color: red;
}

.contact_hero_button a:hover {
    color: white;
}

.hero_socials {
    margin: 20px 0px 20px 0px;
    font-size: 30px;
    color: grey;
}

.fa-github, .fa-linkedin, .fa-envelope {
    background-color: rgb(34, 34, 34);
    border: 1px solid rgba(255, 255, 255, 0.075);
    padding: 10px;
    border-radius: 20px;
    margin-right: 20px;
}

.fa-github:hover, .fa-linkedin:hover, .fa-envelope:hover {
    color: red;
    background-color: rgba(255, 0, 0, 0.274);
    border: 1px solid red;
}

.hero_title_techno {
    color: grey;
    font-size: 16px;
}

.hero_techno_list {
    list-style: none;
}

.techno {
    display: inline-block;
    margin-left: 20px;
    padding: 15px;
    background-color: rgb(34, 34, 34);
    border: 1px solid rgba(255, 255, 255, 0.075);
    color: grey;
    border-radius: 10px;
}

.techno:hover {
    color: red;
    border: 1px solid red;
}

.fa-chevron-down {
    font-size: 15px;
    color: red;
}