body {
    margin: 0;
    background-color: black;
}

/* NAVBAR */

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 75%;
    margin: auto;
    padding-top: 10px;
}

.logo {
    display: flex;
    align-items: center;
    width: 20%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.KS_logo {
    width: 50px;
    margin-right: 10px;
}

.first_name {
    color: white;
    margin-right: 5px;
}

.last_name {
    color: red;
}

nav ul {
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 30px;
}

nav a {
    color: grey;
    text-decoration: none;
    font-size: 16px;
    padding-bottom: 5px;
}

nav a:hover {
    color: white;
    border-bottom: 3px solid red;
}

.project_button {
    color: white;
    background-color: red;
    padding: 10px;
    border-radius: 10px;
}

.project_button a {
    text-decoration: none;
    font-size: 16px;
    color: white;
}

/* HOMEPAGE */
/* HERO SECTION */

.hero-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.opp {
    display: flex;
    align-items: center;
    background-color: rgb(34, 34, 34);
    color: grey;
    border-radius: 50px;
    padding: 0px 20px 0px 20px;
    font-size: 12px;
    letter-spacing: 2px;
    border: 1px solid rgba(255, 255, 255, 0.075);
}

.fa-circle {
    color: green;
    margin-right: 10px;
    font-size: 8px;
}

.hero_title {
    color: white;
    font-size: 80px;
    letter-spacing: 2px;
    margin: 20px 0px 20px 0px;
}

.h1s {
    color: red;
}

.hero_subtitle {
    color: grey;
    font-size: 30px;
    letter-spacing: 2px;
    text-align: center;
    margin: 0px 0px 20px 0px;
}

.hss {
    color: rgb(212, 211, 211);
}

.hero_buttons {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.project_hero_button {
    background-color: red;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    font-size: 20px;
}

.project_hero_button a {
    color: white;
}

.hero-section a {
    text-decoration: none;
}

.contact_hero_button {
    background-color: transparent;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    font-size: 20px;
    border: 2px solid red;
}

.contact_hero_button a {
    color: red;
}

.contact_hero_button:hover {
    background-color: red;
}

.contact_hero_button a:hover {
    color: white;
}

.hero_socials {
    margin: 20px 0px 20px 0px;
    font-size: 30px;
    color: grey;
}

.fa-github, .fa-linkedin, .fa-envelope {
    background-color: rgb(34, 34, 34);
    border: 1px solid rgba(255, 255, 255, 0.075);
    padding: 10px;
    border-radius: 20px;
    margin-right: 20px;
}

.fa-github:hover, .fa-linkedin:hover, .fa-envelope:hover {
    color: red;
    background-color: rgba(255, 0, 0, 0.137);
    border: 1px solid red;
}

.hero_title_techno {
    color: grey;
    font-size: 16px;
}

.hero_techno_list {
    list-style: none;
}

.techno {
    display: inline-block;
    margin-left: 20px;
    padding: 15px;
    background-color: rgb(34, 34, 34);
    border: 1px solid rgba(255, 255, 255, 0.075);
    color: grey;
    border-radius: 10px;
}

.techno:hover {
    color: red;
    border: 1px solid red;
}

.fa-chevron-down {
    font-size: 15px;
    color: red;
}

/* TECHNICAL SECTION */

.technical-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    background: #141414;
    background: linear-gradient(180deg, rgba(20, 20, 20, 1) 0%, rgba(0, 0, 0, 1) 100%);
}

.tech-intro {
    color: red;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.tech-title {
    color: white;
    font-size: 50px;
    letter-spacing: 2px;
}

.tech-subtitle {
    color: grey;
    font-size: 25px;
    letter-spacing: 2px;
    text-align: center;
}

.block-line1 {
    display: flex;
    width: 75%;
    gap: 20px;
    margin-bottom: 20px;
}

.block {
    background-color: rgb(19, 19, 19);
    border: 1px solid rgba(255, 255, 255, 0.075);
    border-radius: 10px;
    padding: 20px;
    width: 30%;
}

.tech-logo {
    color: red;
    background-color: rgba(255, 0, 0, 0.137);
    border-radius: 10px;
    padding: 10px;
    font-size: 30px;
}

.tech-desc {
    color: grey;
}

.skills {
    display: flex;
    flex-wrap: wrap;
}

.tech-skill {
    padding: 10px;
    background-color: rgb(34, 34, 34);
    border: 1px solid rgba(255, 255, 255, 0.075);
    color: grey;
    border-radius: 10px;
    font-size: 14px;
    margin-right: 10px;
}

.tech-quote {
    font-size: 30px;
    font-style: italic;
}

.tech-quote-bis {
    color: red;
}

.tech-guillemets {
    font-size: 40px;
    color: rgb(68, 17, 17);
}

.tech-quote-author {
    color: grey;
}

/* PROJECT SECTION */

.project-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    background: #141414;
    background: linear-gradient(180deg, rgba(20, 20, 20, 1) 0%, rgba(0, 0, 0, 1) 100%);
}

.project-block-line {
    display: flex;
    width: 75%;
    gap: 20px;
    margin-bottom: 20px;
}

.project-block {
    background-color: rgb(19, 19, 19);
    border: 1px solid rgba(255, 255, 255, 0.075);
    border-radius: 10px;
    padding: 20px;
    width: 45%;
}

.project-title {
    display: flex;
    justify-content: space-between;
}

.project-role {
    color: red;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.project-name {
    font-size: 25px;
    font-weight: bold;
}

.project-name-bis {
    font-size: 20px;
    font-weight: bold;
}

.project-links {
    background-color: rgb(34, 34, 34);
    border: 1px solid rgba(255, 255, 255, 0.075);
    padding: 10px;
    border-radius: 20px;
    margin-right: 20px;
}

.project-desc {
    color: grey;
    font-size: 15px;
}

.project-skills {
    display: flex;
    flex-wrap: wrap;
}

.project-skill {
    padding: 10px;
    background-color: rgba(255, 0, 0, 0.137);
    border: 1px solid red;
    color: red;
    border-radius: 10px;
    font-size: 14px;
    margin-right: 10px;
}

.project-skill-bis {
    padding: 10px;
    background-color: rgb(12, 12, 12);
    color: grey;
    border-radius: 10px;
    font-size: 14px;
    margin-right: 10px;
}

.line {
    color: rgba(128, 128, 128, 0.267);
}

.project-desc {
    color: grey;
    font-size: 14px;
}

.impact {
    color: white;
}

.hero_buttons a {
    text-decoration: none;
}

/* CONTACT SECTION */

.contact-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    background: #141414;
    background: linear-gradient(180deg, rgba(20, 20, 20, 1) 0%, rgba(0, 0, 0, 1) 100%);
}

.contact-block-line {
    display: flex;
    width: 50%;
    gap: 20px;
    margin-bottom: 20px;
}

.contact-block {
    background-color: rgb(19, 19, 19);
    border: 1px solid rgba(255, 255, 255, 0.075);
    border-radius: 10px;
    padding: 20px;
    width: 45%;
}

.contact-name {
    font-size: 20px;
    font-weight: bold;
}

.contact-mode {
    display: flex;
    flex-direction: column;
}

.contact1 {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.mail-title {
    margin: 0;
    font-size: 14px;
    color: grey;
}

.mail-address {
    margin: 0;
}

.fa-location-dot {
    border: 1px solid rgba(255, 255, 255, 0.075);
    padding: 10px;
    margin-right: 20px;
    color: red;
    background-color: rgba(255, 0, 0, 0.137);
    border-radius: 10px;
    font-size: 35px;
}

.opp-contact {
    display: flex;
    align-items: center;
    color: grey;
    padding: 0px 20px 0px 0px;
    font-size: 12px;
    letter-spacing: 2px;
}

.send_message_button {
    background-color: red;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    font-size: 20px;
    text-align: center;
}

.send_message_button a {
    text-decoration: none;
    color: white;
}

.points {
    display: flex;
    margin-right: 20px;
}

.contact-block2 {
    background-color: rgb(19, 19, 19);
    border: 1px solid rgba(255, 255, 255, 0.075);
    border-radius: 10px;
    padding: 20px;
    width: 100%;
}

.point1 {
    font-size: 12px;
    color: rgb(192, 1, 1);
}

.point2 {
    font-size: 12px;
    color: rgb(151, 151, 9);
}

.point3 {
    font-size: 12px;
    color: green;
}

.code1 {
    margin: 10px 0px 0px 0px;
    color: grey;
}

.code {
    margin: 0;
    color: grey;
}

.code2 {
    padding-left: 20px;
}