.navbar {
  padding: var(--spacing) 0;
  background-color: transparent;
  position: fixed;
  width: 100%;
  border-bottom: 1px solid transparent;
  transition: all var(--transition-speed);
  z-index: 1000;
}

.navbar--scrolled {
  background-color: #1a1a1adc;
  backdrop-filter: blur(12px);
  border-bottom: 1px solid rgb(61, 57, 57); 
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 var(--spacing);
}

.navbar__brand .logo-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  font-size: var(--m-size);
}

.logo-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 15px;
  transition: transform var(--transition-speed) ease;
}

.logo-link:hover .logo-img {
  transform: scale(1.1);
}

.first-name { color: var(--co-2); margin-right: 5px; }
.last-name { color: var(--co-1); }

.nav-list {
  display: flex;
  list-style: none;
  gap: 2rem;
}

.nav-link {
  color: var(--text);
  text-decoration: none;
  padding-bottom: 5px;
  transition: all var(--transition-speed);
  border-bottom: 3px solid transparent;
}

.nav-link:hover {
  color: var(--co-2);
  border-bottom-color: var(--co-1);
}

.nav-btn--primary {
  display: inline-block;
  background: linear-gradient(90deg, var(--co-3), var(--co-1));
  color: var(--co-2);
  box-shadow: var(--shadow-sm);
  padding: 10px var(--spacing);
  border-radius: var(--radius);
  text-decoration: none;
}

.nav-btn--primary:hover {
  transform: translateY(-3px);
  filter: brightness(1.1);
  box-shadow: 0 6px 15px rgba(255, 0, 0, 0.3);
}

/* MEDIA QUERIES (RESPONSIVE) */

.navbar__toggle {
  display: block;
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;
  z-index: 1001;
}

.hamburger {
  display: block;
  width: 25px;
  height: 3px;
  background: var(--co-2);
  position: relative;
}

.hamburger::before, .hamburger::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 3px;
  background: var(--co-2);
  left: 0;
}
.hamburger::before { top: -8px; }
.hamburger::after { bottom: -8px; }

.navbar__nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #1a1a1a;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  gap: 2rem;
}

.navbar__nav.is-open {
  display: flex;
}

.nav-list {
  display: flex;
  flex-direction: column; /* Vertical sur mobile */
  list-style: none;
  gap: 2rem;
  padding: 0;
}

@media (min-width: 1200px) {
  .navbar__toggle {
    display: none;
  }

  .navbar__nav {
    position: static;
    display: flex;
    flex-direction: row;
    background: transparent;
    padding: 0;
    height: auto;
    width: auto;
  }

  .nav-list {
    flex-direction: row;
  }
}