.navbar {
  padding: var(--spacing);
  background-color: transparent;
  position: fixed;
  width: 100%;
  border-bottom: 1px solid transparent;
  transition: all var(--transition-speed);
}

.navbar--scrolled {
  background-color: #1a1a1adc;
  backdrop-filter: blur(12px);
  border-bottom: 1px solid rgb(61, 57, 57); 
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 var(--spacing);
}

.navbar__brand .logo-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  font-size: var(--m-size);
}

.logo-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 15px;
  transition: transform var(--transition-speed) ease;
}

.logo-link:hover .logo-img {
  transform: scale(1.1);
}

.first-name { color: var(--co-2); margin-right: 5px; }
.last-name { color: var(--co-1); }

.nav-list {
  display: flex;
  list-style: none;
  gap: 2rem;
}

.nav-link {
  color: var(--text);
  text-decoration: none;
  padding-bottom: 5px;
  transition: all var(--transition-speed);
  border-bottom: 3px solid transparent;
}

.nav-link:hover {
  color: var(--co-2);
  border-bottom-color: var(--co-1);
}

.btn--primary {
  display: inline-block;
  background-color: var(--co-1);
  color: var(--co-2);
  padding: 10px var(--spacing);
  border-radius: var(--radius);
  text-decoration: none;
  transition: background var(--transition-speed);
}

.btn--primary:hover {
  background-color: var(--co-3);
}