<header class="navbar" 
        data-controller="navbar" 
        data-navbar-scrolled-class="navbar--scrolled"
        data-action="scroll@window->navbar#toggleNavbarStyles">
  <div class="container">
    <div class="navbar__brand">
      <%= link_to root_path, class: "logo-link" do %>
        <%= image_tag "profile.png", class: "logo-img", alt: "Kevin Saison" %>
        <span class="first-name">Kevin</span><span class="last-name">Saison</span>
      <% end %>
    </div>

    <button class="navbar__toggle" data-action="click->navbar#toggleMenu" aria-label="Toggle menu">
      <span class="hamburger"></span>
    </button>

    <nav class="navbar__nav" data-navbar-target="menu" aria-label="Main Navigation">
      <ul class="nav-list">
        <% ["Profil", "Skills", "Projets", "Blog", "Open Source", "Méthodologie", "Contact"].each do |item| %>
          <li class="nav-item">
            <%= link_to item, root_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
      <div class="navbar__actions">
        <%= link_to "Un projet ?", root_path, class: "btn btn--primary" %>
      </div>
    </nav>
  </div>
</header>